<%= form_for(@prelaunchsubscriber) do |f| %>
  <% if @prelaunchsubscriber.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prelaunchsubscriber.errors.count, "error") %> prohibited this prelaunchsubscriber from being saved:</h2>

      <ul>
      <% @prelaunchsubscriber.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
