<p id="notice"><%= notice %></p>

<h1>Listing Prelaunchsubscribers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @prelaunchsubscribers.each do |prelaunchsubscriber| %>
      <tr>
        <td><%= link_to 'Show', prelaunchsubscriber %></td>
        <td><%= link_to 'Edit', edit_prelaunchsubscriber_path(prelaunchsubscriber) %></td>
        <td><%= link_to 'Destroy', prelaunchsubscriber, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Prelaunchsubscriber', new_prelaunchsubscriber_path %>
