	<section class="content wrapper" style="padding-top:10px;">

		<h1 class="brandtext"><span>Rento</span><span class="brandhalftextcolor">monk</span></h1>
		<p class="description">We are building an exciting new product to make your life easier. Please join our newsletter so that we can get in touch with you once we launch.</p>

		<div class="subscription_form clearfix">
			<div>
<!-- 				<form action="http://pixelhint.us3.list-manage.com/subscribe/post?u=9cf3b8b1cfc597a436b9964d3&amp;id=2449ed590e" method="post" id="sub_form">
					<input type="email" id="mc-email" placeholder="enter your email">
					<button type="submit" id="mc_submit"><i class="icon"></i></button>
				</form> -->

				<%= form_for(@prelaunchsubscriber, remote: true, id: "sub_form") do |f| %>
				<%= f.text_field :emailid %>
				<%= button_tag(type: "submit") do %>
					<i class="icon"></i>
				<% end %>
				<% end %>

			</div>
		</div>

		<div class="counter clear" data-date="2016-10-31 00:00:00"></div>

	</section>
	