<!DOCTYPE html>
<html>
<head>
  <title>Comingsoon</title>
  <%= stylesheet_link_tag   'http://fonts.googleapis.com/css?family=Quicksand', 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
